

<% include ./partials/header.ejs %>
<div class='row rowA'>
  <div class='col-sm-12'>
    <h1 class='welcome'> Welcome to the Tone Analyzer!</h1>
  </div>
<div class="row rowB">
  <div class="col-sm-8 col-sm-offset-2">
    <p class='indexP'>Hello, and welcome to the Tone Analyzer! This application uses linguistic analysis to detect and interpret emotional style cues found in text.</p>
  </div>
</div>
<% include ./partials/footer.ejs %>