<!DOCTYPE html>
<html>
<head>
  <title>PROJ 2 PROTOTYPE</title>
  <meta name="viewport"  content="width = device-width, initial-scale = 1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../css/style.css">
  
  <!--JQUERY-->
  <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> 

</head>
<body>
  <div class = "container-fluid">
    <div class = 'container'>
      <div class = 'row row1'>
        <div class = 'col-sm-12'>
        <h1 class = 'title'>Happy Much?</h1>
      </div>
      </div>
    <div class = 'row row2'>
        <div class = 'col-sm-12'>
      <img class ='fblogin' src = "../public/images/fbLogin.png">
        </div>
    </div>
    <div class="row row3">
      <div class='col-sm-12'>
        <p>or, if you prefer, enter some text below for analyzation!</p>
      </div>
    </div>
    <div class="row row4">
      <div class='col-sm-12'>
        
        <input class = "form-control input-sm" id = "textToSubmit" type='text'>
      </div>
    <div class="row row5">
      <button type="button" onclick=submitText() class="btn-default">Check This Text<button>
    </div>
    </div>
  </div>












  </div>
  <!--app.js-->
  <script type= "text/javascript" src = "../public/scripts/app.js"></script>
  <!--Server.js
  <script type="text/javascript" src = "../server.js"></script>
  -->
  <!--Compiled JS-->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>