body{
	background-color: lightgrey;
	font-family: "Gruppo";
}

button{
	font-size: 20px;
	margin-top: 10px;
}

.btnCheckTxt{
	margin:10px;
}

.btnCheckTwit{
	margin: 10px;
}

.btnSee{
	margin-bottom:15px;
}

.btnSave{
	margin-bottom:15px;
}

.container{
	background-color:;

}
.title{
	font-family: "Shrikhand", sans-serif;
	text-align: center;
	font-size: 55px

}

.row1{
	/*background-image: url("images/wheel.jpg");*/
	
	
}
.row2{
	text-align: center;

}

.fblogin{
	width:200px;
}

.row3{
	font-family: "Gruppo", sans-serif;
	text-align: center;
	font-size: 25px;
}

.row4{
	text-align: center;
}

.customType{
	height:10em;

}

.row5{
	padding-top: 5em;
}

.chart{
	font-family: sans-serif;
	margin:auto;
	text-align: center;
}

.canvasjs-chart-credit {
   display: none;
}

/*-------------list and modal-------------------------------------*/
.btnList{
	margin:10px;
}

.btnAdd{
	background-color: #8edb93;
	color:black;
}

.btnRemove{
	background-color: #ff7070;
}

.btnReRender{
	background-color: #fbff99;
}

.modalTitle{
	font-size: 30px;

}

.modal{
	background-color: rgba(0,100,60,.2);
}
.modalComment{
	font-size:20px;
}

.modal-content{
	background-color: rgba(255,255,255,.9);
}

.oneResult{
	border:none;

}

.btnClose{
	margin-bottom:30px;
	font-size: 20px;
	margin-left:5px;
}

.btnSave{
	margin-bottom:30px;
	font-size: 20px;
	margin-right:5px;
}

.list-group-item{
	background-color: lightgrey;
}

/*-------------index and partial styles------------------*/

.rowA{
	margin-top: 30px;
	padding-top: 10px;
	text-align: center;
	font-family:"Gruppo";
	background: white;
	border-radius: 10px
}

.rowHead{
	text-align: center;
	margin-bottom: 20px;
}

h2{
	font-size: 45px;
	
}
.welcome{
	font-size: 55px;
}

.navbar{   /*-----width of page----*/
	background-color:grey;
	text-align: center;
}

.navCon{             /*----centered around nav text, has margins l and r--*/
	background-color: grey;
	text-align: center;

}

.navbar-default .navbar-nav>li>a{  /*--nav bar, width of text content, changes text style--*/
	color:white;
	font-family:"Gruppo";
	font-size: 20px;
	margin:auto;
}

.navbar-nav{    /*-----surrounds nav text only*/
	
}


.indexP{
	font-size:20px;
	padding-top: 10px;
	padding-bottom: 30px;
	margin:12px;
}

.form-group{
	font-size:20px;
	text-align: center;
}

.rowText{
	text-align: center;
}

.rowSubBtn{
	text-align: center;
}

.textInput{
	text-align: center;
	width:100%;
	font-size: 25px;
}