body{

}
.container{
	background-color: lightblue;
}
.title{
	font-family: "Shrikhand", sans-serif;
	text-align: center;
	font-size: 55px

}

.row1{
	/*background-image: url("images/wheel.jpg");*/
	background: ;
	
}
.row2{
	text-align: center;

}

.fblogin{
	width:200px;
}

.row3{
	font-family: "Gruppo", sans-serif;
	text-align: center;
	font-size: 25px;
}

.row4{
	text-align: center;
}

.customType{
	height:10em;

}

.row5{
	padding-top: 5em;
}

.chart{
	font-family: sans-serif;
	margin:auto;
	text-align: center;
}

.canvasjs-chart-credit {
   display: none;
}